In [1]:
from constants import INPUT_DIR
from methods import *

In [17]:
import pandas as pd
import numpy as np
import os
import bz2 
import random
from random import randint
random.seed(42)

# Read Data

In [55]:
fname = 'amazon_train.pk'
fpath = os.path.join(INPUT_DIR, fname)
idx = [random.randint(0, 3600000) for _ in range(200)]

if os.path.isfile(fpath):
    data = pd.read_pickle(fpath)
    data = data.iloc[idx]

else:
    zipfname = 'train.ft.txt.bz2'
    zippath = os.path.join(INPUT_DIR, zipfname)
    data = bz2.BZ2File(zippath)
    data = [x.decode('utf-8') for x in data.readlines()]
    data = pd.DataFrame(data)
    data.to_pickle(fpath)
    data = data.iloc[idx]
    data.columns = ['text']

data.sample()

                                                         0
2315223  __label__1 Disappointed: I was really disappoi...

In [59]:
df = data.copy().reset_index()
df.columns = ['id', 'text']
df[['label', 'text']] = df['text'].str.split(' ', 1).apply(pd.Series)
df

          id                                               text       label
0    2044932  Great faucet: We bought ours over two years ag...  __label__2
1     889695  Empowering the Imagination!: Like many parents...  __label__2
2    1488243  So Adorable!: I purchased this as a birthday p...  __label__2
3    3346351  pen and pencil is great, however: i ordered th...  __label__1
4    1083608  Gorgeous Concept: I read the short story begin...  __label__2
..       ...                                                ...         ...
195  1114143  Not much to recommend: At first, this CD sound...  __label__1
196  3467142  A charming, witty, honest read about one man's...  __label__2
197   596582  Doesn't work with Samsung S3: I recently got t...  __label__1
198   299514  Would buy another one.: I had the SD card vers...  __label__2
199   250140  First Memory Card To Fail: Normally, I don't w...  __label__1

[200 rows x 3 columns]

In [50]:
data.res

       index                                                  0
0    2917234  __label__1 waste of my time: Got this book bec...
1      81922  __label__2 Good idea, but...: They look good. ...
2    3593394  __label__1 What a P.O.S.!: Terrible user inter...
3    3211136  __label__1 I wear a sm/med and the m/l was TOO...
4    2414620  __label__2 Great Movie! Highly recommend if yo...
..       ...                                                ...
195   120376  __label__2 An informed and informative descrip...
196  2073271  __label__2 Quality matierial, good price: I bo...
197  3569154  __label__1 Very Disappointed: I am very disapp...
198  1363208  __label__1 Funny at times: A few humorous mome...
199   762691  __label__2 Must Buy for Hendrix Fans!: This is...

[200 rows x 2 columns]